<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>OnlineVotingSys</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description>to handle checking and creation of voter token </description>
    <display-name>Tokenhandler</display-name>
    <servlet-name>Tokenhandler</servlet-name>
    <servlet-class>com.Arkaprabha.Tokenhandler</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Tokenhandler</servlet-name>
    <url-pattern>/Tokenhandler</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Tokengenerator</display-name>
    <servlet-name>Tokengenerator</servlet-name>
    <servlet-class>com.Arkaprabha.Tokengenerator</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Tokengenerator</servlet-name>
    <url-pattern>/Tokengenerator</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Adminloginhandler</display-name>
    <servlet-name>Adminloginhandler</servlet-name>
    <servlet-class>com.Arkaprabha.Adminloginhandler</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Adminloginhandler</servlet-name>
    <url-pattern>/Adminloginhandler</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Addpartyhandler</display-name>
    <servlet-name>Addpartyhandler</servlet-name>
    <servlet-class>com.Arkaprabha.Addpartyhandler</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Addpartyhandler</servlet-name>
    <url-pattern>/Addpartyhandler</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>mainServlet</display-name>
    <servlet-name>mainServlet</servlet-name>
    <servlet-class>com.Arkaprabha.mainServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>mainServlet</servlet-name>
    <url-pattern>/mainServlet</url-pattern>
  </servlet-mapping>
</web-app>